<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.yuan"/>

	<bean id="testService" class="com.yuan.service.TestService" init-method="initsss">
		<meta key="sss" value="fff"/>
		<!--		<property name="name" value="ddd"></property>-->
		<!--		<constructor-arg value="a" name="name"></constructor-arg>-->
		<constructor-arg index="0" value="33"></constructor-arg>
		<constructor-arg index="1" value="fff"></constructor-arg>

		<!--lookup-method作用: 当单例A依赖了一个非单例B时,可以通过这个标签来让spring每次都返回最新的bean
			详情: https://www.cnblogs.com/ViviChan/p/4981619.html
			https://blog.csdn.net/wu8439512/article/details/90048422
		-->
		<!--		<lookup-method ></lookup-method>-->
		<!-- replaced-method作用:可以动态替换bean中方法的实现
			详情:https://blog.csdn.net/lightofmiracle/article/details/74988243
		-->
		<!--		<replaced-method></replaced-method>-->
	</bean>

	<bean id="userService" class="com.yuan.factory.UserFactory" factory-method="getInstance" init-method="init"
		  destroy-method="destroy"></bean>


	<!--	<bean id="d" class="com.yuan.service.DemoBService" scope="prototype"/>-->

	<!--	<bean class="com.yuan.service.DemoAService" id="demoAService" scope="prototype">-->
	<!--		<property name="demoBService" ref="d"></property>-->
	<!--	</bean>-->


	<!--实现FactoryBean接口的工厂类-->
	<bean id="book" class="com.yuan.factory.BookFactoryBean" >
		<property name="infoMap">
			<map>
				<entry key="name" value="effective java"/>
				<entry key="author" value="Joshua Bloch"/>
				<entry key="price" value="345"/>
			</map>
		</property>
	</bean>

	<!--
		depends-on用法demo:https://blog.csdn.net/aitangyong/article/details/53036913
	-->

	<!--测试过滤数据 start-->
	<!--	<bean id="testBeanFactoryPostProcessor" class="com.yuan.processor.SensitiveDataFilterBeanFactoryPostProcessor">-->
	<!--		<property name="sensitives">-->
	<!--			<set>-->
	<!--				<value>123456</value>-->
	<!--				<value>11@qq.com</value>-->
	<!--			</set>-->
	<!--		</property>-->
	<!--	</bean>-->
	<bean id="user" class="com.yuan.entity.User">
		<property name="address" value="China"/>
		<property name="userName" value="yuan"/>
		<property name="password" value="123456"/>
		<property name="email" value="11@qq.com"/>
	</bean>
	<!--测试过滤数据 end-->


	<!--国际化,id必须为messageResource,否则会NoSuchMessageException-->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" depends-on="">
		<property name="basenames">
			<list>
				<value>message</value>
			</list>
		</property>
	</bean>

	<!--listener-->
	<bean id="testListener" class="com.yuan.event.TestListener"/>


</beans>
